.coupon{
	border-radius: 5px;
	width: 90%;
	height: 150px;
	margin: 5%; 
	background: url(../images/coupon.jpg);
	background-size:100%;
	padding-top: 10px;
	float: left;
	color: white;
	position:relative;
}
.price{
	width: 100%;
	height:30px;
	position:absolute;
	bottom:0;
	text-align:center;
	color:#222;
}
.descrip{
	margin:20px;
	font-size: 12px;
}
.effective{
	float: right;
	margin-right: 20px;
}
.activation{
	height: 30px;
	width: 50px;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
	border-radius: 5px;
	margin-left:80%;
	background-color: #D85940;
}
.nohint{
	width: 94%;
	height: 100px;
	margin: 25px;
}