.header{
	text-align: center;
	height: 100px;
	background-color: #e8e8d0;
	padding: 20px;
}
.recharge{
	margin-top: 40px;
	height: 36px;
	width: 20%;
	margin-left: 40%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.container_header{
	display: flex;
	justify-content: space-around;
	background-color: white;
	height: 48px;
	align-items: center;
}
.integral_type{
	font-size: 14px;
	border: 1px solid black;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.integral_record{
	background-color: white;
	margin:10px 16px;
}
.integral_record_header{
	height: 48px;
	line-height: 48px;
	padding-left: 10px;
	padding-right: 10px;
	background:url(../images/bg_line.png);
	background-repeat:repeat-x;		/*背景图片在水平显示*/	
	background-position-y:bottom;　　/*背景图片在纵向的最下方显示*/
}
.integral_record_container{
	height: 200px;
	line-height: 200px;
	text-align: center;
	margin-left: 10px;
	margin-right:10px;

}
