
img{
	width: 100%;
	height: 100%;
}

.couponPrice{
	border-radius: 10px;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:40px;
	height: 120px;
	line-height:120px;
	text-align:center;
	color: white;
	font-size: 20px;
	background:url(../images/coupon_bg.png);
	background-size:100%;
}
.Price{
	border-radius: 10px;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:40px;
	height: 150px;
	line-height:150px;
	text-align:center;
	color: white;
	font-size: 20px;
	background-color: #D85940;
	background: url(../images/coupon_bg.png);
	background-size:100%;
}
p{
	font-size:13px;
	color:grey;
	margin-left:20px;
	margin-right:20px;
}
