.header{
	height: 120px;
	width: 96%;
	background-color: white;
	margin: 2%;
	border-radius: 10px;
}
#icon{
	margin-top: 30px;
	margin-left:40px;
	float: left;
}
#nickname{
	margin-left:10px;
	margin-top: 50px;
	float: left;
}
.body{
	height: 40px;
	width: 96%;
	background-color: white;
	margin: 2%;
	border-radius: 10px;
}
.div3{
	height: 60px;
	width: 96%;
	background-color: white;
	margin: 2%;
	border-radius: 10px;
}
.tail{
	height: 300px;
	width: 96%;
	background-color: white;
	margin: 2%;
	border-radius: 10px;
}
.v_line{
	float: left;
	height: 36px;
	width: 1px;
	background-color: grey;
	margin-top: 2px;
	border-radius: 1px;
}
.h_line{
	height: 1px;
	margin-right:16px; 
	margin-left:16px; 
	background-color: #DEDEDE;
}
.member_live{
	width: 49%;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}
.member_integral{
	width: 49%;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}
p{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.s1{
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-left: 5px;
	float: left;
}
.s2{
	color: red;
	float: right;
	margin-right: 5px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.s3{
	margin-top:15px;
	height: 30px;
	width: 80px;
	border-radius: 10px;
	background-color: #00c800;
	float: right;
	line-height: 30px;
	text-align: center;
	color: white;
	margin-right: 5px;
}