@charset "utf-8";
/* CSS Document */
.header{
	height: 48px;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.all_orders,.orders_success,.orders_finished{
	height: 46px;
	line-height: 46px;
	border-bottom: 2px solid white;
}
.orders_bg{
	margin:16px;
	background-color: yellow;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	margin-top: 10px;
}
.dsorder_titie{
	background-color: white;
	display: flex;
	height: 40px;
	align-items: center;
}
.refund{
	margin-left: auto;
}
.dsoder_container{
	display: flex;
	align-items: center;
	height: 60px;
}
.dsorder_information{
	font-size: 14px;
}
.dsorder_footer{
	height: 40px;
	text-align: right;
	line-height: 40px;
	background-color: white;
}
.dsorder_footer{
	color: #ccc;
	font-size: 14px;
}
.order_price{
	font-size: 18px;
}