<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bjpygh</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.PersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/personal.action</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <servlet-name>SmsServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.SmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmsServlet</servlet-name>
    <url-pattern>/sms.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BondServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.BondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BondServlet</servlet-name>
    <url-pattern>/bond.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectDsPackageServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.SelectDsPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDsPackageServlet</servlet-name>
    <url-pattern>/sdp.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectDsInfoServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.SelectDsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDsInfoServlet</servlet-name>
    <url-pattern>/sdi.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CouponServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.CouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponServlet</servlet-name>
    <url-pattern>/coupon.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DsPayServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.DsPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DsPayServlet</servlet-name>
    <url-pattern>/dspay.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/note.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryOrderServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.QueryOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderServlet</servlet-name>
    <url-pattern>/queryOrder.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryCouponServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.QueryCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCouponServlet</servlet-name>
    <url-pattern>/queryCoupon.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectOrderServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.SelectOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderServlet</servlet-name>
    <url-pattern>/selectOrder.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RefundServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.RefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundServlet</servlet-name>
    <url-pattern>/refund.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetUserIdServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.GetUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserIdServlet</servlet-name>
    <url-pattern>/getid.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WxPayServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.WxPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxPayServlet</servlet-name>
    <url-pattern>/wxpay.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.ChangeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <url-pattern>/changeStatus.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/schedule.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.ActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/activation.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/changeInfo.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryPackageServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.QueryPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPackageServlet</servlet-name>
    <url-pattern>/queryPackage.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/notify.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectRecordServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.SelectRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRecordServlet</servlet-name>
    <url-pattern>/selectRecord.action</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ActCodeServlet</servlet-name>
    <servlet-class>com.wxgzpt.bjpygh.servlet.ActCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActCodeServlet</servlet-name>
    <url-pattern>/actcode.action</url-pattern>
  </servlet-mapping>
</web-app>